*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: ‘open sans’ ;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a64;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}
/*header*/
header{
    width: 100%;
    height: 600px;
    background: #800080;  
    /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgba(255, 194, 204, 0.637), hsla(300, 100%, 25%, 0.459)), url(../IMAGEN/FONDO3.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(255, 194, 204, 0.637), hsla(300, 100%, 25%, 0.459)), url(../IMAGEN/FONDO3.jpg); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
     
     
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{ 
    color:aliceblue;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{ 
    text-decoration: underline;
    
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 50px;
    color:#fff;

}
.textos-header h2{
    font-size: 30px;
    font-weight: 360;
    color:#fff;
}
.wave{ 
    position:absolute;
    bottom: 0;
    width: 100%;

}
/*abut us*/

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;

}
.imagen-about-us{
    width: 48%;
    justify-content: space-evenly;

}
.sobre-nosotros .contenido-textos{
    width: 48%;
}
.contenido-textos h3{
    margin-bottom: 15px;


}
.contenido-textos h3 span{
    background: #ab74d4;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, hsla(300, 41%, 57%, 0.459));
    margin-right: 5px;


}
.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
/* about*/

.about-gusta{
    background: #f2f2f2;
    


}

.gusta-cont{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-bottom: 20px;
    justify-content: center;


}
.gusta-ind{
    width: 30%;
    background: #fff;
    margin-bottom: 30px;
    padding: 45px 30px 25px 30px;
    border-radius: 10px;
    cursor: pointer;

}
.gusta-ind img{
    box-shadow:  0 4px 10px rgb(0, 0, 0, 0.26);
}
.gusta-img{
    width: 100%;
    height: 120px;
    margin: auto;
}
.gusta-h2{
    font-size: 25px;
    margin-top: 30px;
}

.gusta-p{
    font-weight:100;
    margin-top: 15px;
    color:#fff;
    padding-bottom: 20px;
    text-align: center;
}


/*footer*/
footer{
    background: pink;
    padding: 30px  0;
    margin:auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.content-foo{
    width: 20%;
    text-align: center;
}
.content-foo h4{
    color:#d028d6;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.content-foo a{
    text-decoration: none;
    display: block;
    color: #f2f2f2;
    font-weight: 300;
    margin-bottom: 10px;
    transition: color .3s ease-in-out;
    cursor: pointer;
}
.titulo-final{
    color: #df4c95;
    text-align: center;
    font-size: 24px;
    margin: 20px;
}
@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos{
        width: 90%;

    }
    .imagen-about-us{
        width: 90%;
    }
.gusta-cont{
    justify-content: center;
    flex-direction: column;
}
.gusta-ind{
    width: 100%;
    text-align: center;
}
.gusta-ind:nth-child(1), .gusta-ind:nth-child(2){
    margin-bottom: 60px;

}

.gusta-ind img{
    width: 90%;

   }
}
@media screen and (max-width:500){
    nav{
        text-align:center;
        padding: 30% 0 0 0;

    }  
    nav > a{
        margin-right: 5px;
    }
    .textos-header h1{
        font-size: 35px;

    } 
    .textos-headerh2{
        font-size: 20%;
    }   

/*about us*/
.imagen-about-us{
    margin-bottom: 60px;
    width: 99%;
} 
.sobre-nosotros .contenido-textos{
    width: 95%;
} 
/*footer*/

.content-foo{
    flex-direction:column;
    border:none;
}   
.content-foo{
    margin-bottom: 20px;
    text-align: center;
 }   
 .content-foo h4{
   border: none;
 }   
 
 .content-foo a{
    color: pink;
    border-bottom: 1px solid #f2f2f2;
    padding: 20px;
  }   
      .titulo-final{
          font-size: 20px;
          
    }

}